body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .background {
    background-image: url('background.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  
  .name {
    font-size: 55px;
    font-weight: bold;
    color: black;
  }
  
  .portfolio {
    font-size: 25px;
    margin: 20px 0;
    color: black;
  }
  
  .click-here {
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: gray;
  }

/* Adaptations spécifiques pour les grands écrans */
@media (min-width: 1024px) {
  .content {
      width: 50%; /* Largeur ajustée pour les grands écrans */
  }
}

/* Adaptations pour les tablettes */
@media (min-width: 768px) and (max-width: 1023px) {
  .content {
      width: 70%; /* Largeur ajustée pour les tablettes */
  }
}

/* Pour les téléphones mobiles */
@media (max-width: 767px) {
  .content {
    width: 95%; /* Ajuste la largeur pour optimiser l'espace sur les petits écrans */
  }
  .name {
    font-size: calc(14px + 1.2vw); /* Taille dynamique adaptée pour les petits écrans */
  }
  .portfolio {
    font-size: calc(10px + 1vw); /* Taille dynamique adaptée pour les petits écrans */
  } 
}