body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .background {
    background-image: url('background.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  
  .navigation .return {
    font-size: 90px;
    text-decoration: none;
    position: fixed;
    top: 0px;
    left: 0px;
    color: black;
    padding: 30px;
  }
  
  .name {
    font-size: 55px;
    font-weight: bold;
    color: black;
  }
  
  .portfolio {
    font-size: 25px;
    margin: 20px 0;
    color: black;
  }
  
  .links .menu-link {
    font-size: 16px;
    margin: 0 20px;
    text-decoration: none;
    color: grey;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .links .menu-link:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

@media (max-width: 768px) {
  .content {
      top: 50%; /* Ajustement pour un meilleur positionnement vertical */
      width: 95%; /* Augmentation de la largeur pour les petits écrans */
  }

  .navigation .return {
      font-size: 60px; /* Diminution de la taille pour les petits écrans */
      padding: 20px;
  }

  .name {
      font-size: 3rem; /* Ajustement de la taille de police pour une meilleure visibilité */
  }

  .portfolio {
      font-size: 1.2rem;
  }

  .links .menu-link {
      font-size: 0.9rem;
      padding: 8px; /* Légère réduction du padding */
  }
}

@media (max-width: 480px) {
  .navigation .return {
      font-size: 40px; /* Plus petit encore pour les très petits écrans */
      padding: 15px;
  }

  .name {
      font-size: 2.5rem; /* Réduction supplémentaire pour les très petits écrans */
  }

  .portfolio {
      font-size: 1rem;
  }

  .links .menu-link {
      font-size: 0.8rem;
      margin: 0 10px; /* Réduction de la marge latérale */
  }
}