body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background-image: url('background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation {
  font-size: 90px;
  position: fixed;
  text-decoration: none;
  top: 0px;
  left: 0px;
  color: black;
  padding: 30px;
}

.header {
  color: black;
  font-size: 60px;
  text-align: center;
  margin-top: 20px;
}

.project {
  position: absolute;
  width: 40%;
  color: black;
}

.left {
  top: 150px;
  left: 10%;
}

.right {
  top: 150px;
  right: 5%;
}

.project-title {
  color: black;
  font-size: 30px;
}

.project-description {
  color: black;
  font-size: 18px;
}

.tech-stack {
  margin-top: 20px;
}

.tech-logo, .go {
  height: 50px;
  margin-right: 10px;
}

.go {
  height: auto;
  width: 100px;
}

@media (max-width: 768px) {
  .navigation.return {
    font-size: 3rem; /* Réduisez la taille pour économiser de l'espace */
    padding: 1rem;
  }

  .header {
    font-size: 2.5rem;
  }

  .project {
    width: 95%; /* Augmente la largeur pour les petits écrans */
    margin-top: 20px;
  }

  .project-title {
    font-size: 1.75rem;
  }

  .project-description {
    font-size: 1rem;
  }

  .tech-logo, .go {
    height: 40px; /* Réduisez légèrement la taille des logos */
    width: auto;
  }
}

@media (max-width: 480px) {
  .navigation.return {
    font-size: 2rem;
    padding: 0.5rem;
  }

  .header {
    font-size: 2rem;
  }

  .project {
    width: 100%; /* Utilisez toute la largeur disponible */
  }

  .project-title {
    font-size: 1.5rem;
  }

  .project-description {
    font-size: 0.9rem;
  }

  .tech-logo, .go {
    height: 30px; /* Encore plus petit pour les très petits écrans */
  }
}
