body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .background {
    background-image: url('background.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .navigation .return {
    font-size: 90px;
    text-decoration: none;
    position: fixed;
    top: 0px;
    left: 0px;
    color: black;
    padding: 30px;
  }
  
  .content {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center; /* Centre le texte horizontalement */
    width: 100%; /* Assure que le conteneur prend toute la largeur */
  }
  
  .content h1 {
    font-size: 55px;
    margin-bottom: 50;
    position: relative;
    display: inline-block;
    width: auto;
    color: black;
  }
  
  .intro-text {
    font-size: 20px;
    color: black;
    width: 80%;
    margin: 0 auto;
    padding: 0 10%;
    box-sizing: border-box;
  }
  
  
  .profile-pic {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
  }
  
  .profile-pic img {
    width: 100%;
    height: auto;
  }

  /* Pour les tablettes */
@media (max-width: 768px) {
  .content {
      top: 55%; /* Légèrement ajusté pour une meilleure visibilité */
      width: 95%; /* Plus large pour utiliser plus d'espace disponible */
  }

  .content h1 {
      font-size: 2.5rem;
  }

  .intro-text {
      font-size: 1rem;
      padding: 0 5%; /* Moins de padding pour plus d'espace texte */
  }

  .profile-pic {
      top: 10px; /* Moins d'espace en haut */
      right: 10px;
      width: 8rem;
      height: 8rem;
  }
}

/* Pour les téléphones mobiles */
@media (max-width: 480px) {
  .navigation .return {
      font-size: 3rem;
      padding: 1rem;
  }

  .content {
      top: 60%; /* Encore plus bas pour s'adapter au texte */
      width: 100%; /* Utilisation maximale de l'espace */
  }

  .content h1 {
      font-size: 2rem;
  }

  .intro-text {
      font-size: 0.9rem;
      padding: 0 2%; /* Réduction maximale du padding */
  }

  .profile-pic {
      width: 6rem;
      height: 6rem;
      top: 5px;
      right: 5px;
  }
}
