body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .background {
    background-image: url('background.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .navigation .return {
    font-size: 90px;
    text-decoration: none;
    position: fixed;
    top: 0px;
    left: 0px;
    color: black;
    padding: 30px;
  }
  
  .content {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center; /* Centre le texte horizontalement */
    width: 100%; /* Assure que le conteneur prend toute la largeur */
  }
  
  .content h1 {
    font-size: 55px;
    margin-bottom: 50;
    position: relative;
    display: inline-block;
    width: auto;
    color: black;
  }
  
  .intro-text {
    font-size: 20px;
    color: black;
    width: 80%;
    margin: 0 auto;
    padding: 0 10%;
    box-sizing: border-box;
  }
  
  
  .profile-pic {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
  }
  
  .profile-pic img {
    width: 100%;
    height: auto;
  }
  